@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #353535;
  color: rgb(67, 255, 67);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: rgb(142, 255, 142);
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 30px;
}